<app-navbar></app-navbar>

<div class="container">

  <div class="text-xs-center centerPiece">
    <h2>{{name}}</h2>
    <div class="bio">{{bio}}</div>
    <a class="nav-link" [routerLink]="['/write']">Write a Prayer Post</a>
  </div>

  <div *ngFor="let post of posts">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button class="btn btn-secondary btn-sm pull-xs-right" (click)="deletePost(post._id)">delete</button>
            <button class="btn btn-secondary btn-sm pull-xs-right" (click)="editPost(post._id)">edit</button>
            <h4 class="card-title">{{post.subject}}</h4>
            {{post.story}}
          </li>
          <li class="list-group-item">{{post.prayer}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>